In [5]:
import csv
import pandas as pd
import os

In [6]:
os.getcwd()

'/Users/andreaolmos/Documents/personal/maestria_dm/recommendation_systems_2023'

In [10]:
lists_1 = pd.read_csv("letterboxd_project/data/lists.csv")
lists_2 = pd.read_csv("letterboxd_project/data/lists_2.csv")
lists_3 = pd.read_csv("letterboxd_project/data/lists_3.csv")
lists_4 = pd.read_csv("letterboxd_project/data/lists_4.csv")

In [16]:
lists = pd.concat([lists_1, lists_2,lists_3, lists_4])
lists.shape

(344694, 4)

In [17]:
lists = lists.drop_duplicates()

In [19]:
lists

,user_id,list_id,list_link,list_extension
0,Schaffrillas,15183950,/schaffrillas/list/every-dreamworks-movie-ranked/,42 films
1,Schaffrillas,18997068,/schaffrillas/list/pixar-ranking/,27 films
2,Schaffrillas,4494803,/schaffrillas/list/every-best-animated-feature...,22 films
3,Schaffrillas,31553594,/schaffrillas/list/2022-movies-ranked/,42 films
4,Schaffrillas,31845238,/schaffrillas/list/2023-best-picture-nominees-...,10 films
...,...,...,...,...
24216,filmboyjake,31902639,/filmboyjake/list/scream-ranked-1/,6 films
24217,filmboyjake,28764558,/filmboyjake/list/kubrick-ranked/,8 films
24218,filmboyjake,7846658,/filmboyjake/list/harry-potter-ranked/,11 films
24219,filmboyjake,28761723,/filmboyjake/list/bong-ranked/,6 films
24220,filmboyjake,24842718,/filmboyjake/list/jurassic-franchise-ranked/,6 films

In [18]:
lists.to_csv("letterboxd_project/data/lists_complete.csv")