In [1]:
import csv
import pandas as pd
import os 
import glob
import numpy as np

# Unión de la data de todas las películas

traigo y trato las listas originales

In [3]:
all_the_lists = pd.read_csv("letterboxd_project/data/lists_data/all_the_lists/lists_complete.csv")

In [4]:
#tratamiento de la extensión de la lista
all_the_lists["extension"] = all_the_lists["list_extension"].replace('films', '', regex=True)
all_the_lists["extension"] = all_the_lists["extension"].replace(' film', '', regex=True)
all_the_lists["extension"] = all_the_lists["extension"].replace(',', '', regex=True)
all_the_lists["extension"] = all_the_lists["extension"].replace('\xa0film', '', regex=True)

extensions = []
for i in range(0, len(all_the_lists["extension"])):
    try:
       extensions.append(int(all_the_lists["extension"][i]))

    except:
       extensions.append(0)

all_the_lists["extension"] = extensions

uno todos los archivos con datos de las listas

In [5]:
glob.glob("letterboxd_project/data/lists_data/*.csv")

['letterboxd_project/data/lists_data/lists_data_2_b.csv',
 'letterboxd_project/data/lists_data/lists_data_4_b.csv',
 'letterboxd_project/data/lists_data/lists_data_8.csv',
 'letterboxd_project/data/lists_data/lists_data_6.csv',
 'letterboxd_project/data/lists_data/lists_data_4.csv',
 'letterboxd_project/data/lists_data/lists_data_1.csv',
 'letterboxd_project/data/lists_data/lists_data_3.csv',
 'letterboxd_project/data/lists_data/lists_data_2.csv',
 'letterboxd_project/data/lists_data/lists_data_recovered.csv']

In [6]:
csv_files = glob.glob("letterboxd_project/data/lists_data/*.csv")
df = pd.DataFrame()  
  
# loop over the list of csv files
for f in csv_files:
    print(f)
    # read the csv file
    temp_df = pd.read_csv(f)
    #print(temp_df.head())
    df = pd.concat([df, temp_df])

letterboxd_project/data/lists_data/lists_data_2_b.csv
letterboxd_project/data/lists_data/lists_data_4_b.csv
letterboxd_project/data/lists_data/lists_data_8.csv
letterboxd_project/data/lists_data/lists_data_6.csv
letterboxd_project/data/lists_data/lists_data_4.csv
letterboxd_project/data/lists_data/lists_data_1.csv
letterboxd_project/data/lists_data/lists_data_3.csv
letterboxd_project/data/lists_data/lists_data_2.csv
letterboxd_project/data/lists_data/lists_data_recovered.csv

In [7]:
df.shape

(391295, 4)

In [8]:
#limpio repetidos
df = df.drop_duplicates()

In [9]:
#busco los que no están en las listas (ids de listas que no se descargaron)
df_to_recover = all_the_lists[~all_the_lists['list_id'].isin(df.list_id)]

In [10]:
df_to_recover

,Unnamed: 0,user_id,list_id,list_link,list_extension,extension
2504,2504,augustleaves,36670583,/augustleaves/list/list-of-only-good-blockbust...,18 films,18
2519,2519,georgecarmi,25625991,/georgecarmi/list/horror-ranked/,235 films,235
2521,2521,georgecarmi,31957671,/georgecarmi/list/wed-be-so-incredibly-fucked-...,16 films,16
2532,2532,georgecarmi,13382561,/georgecarmi/list/2019-ranked/,50 films,50
2533,2533,georgecarmi,13383436,/georgecarmi/list/animation-ranked/,171 films,171
...,...,...,...,...,...,...
343370,23308,colinsonline,28245423,/colinsonline/list/around-the-world/,39 films,39
343376,23314,colinsonline,31034168,/colinsonline/list/discs-and-things-of-that-na...,13 films,13
343378,23316,colinsonline,30738078,/colinsonline/list/criterion-challenger/,52 films,52
343607,23545,tgland,21441811,/tgland/list/a-list-of-silent-films-for-veronica/,102 films,102
343712,23650,acorns13,28456342,/acorns13/list/top-20-films-of-2024/,28 films,28

guardo la data de las listas en un solo archivo

In [11]:
df.to_csv("letterboxd_project/data/lists_data/all_the_lists/all_the_lists_data.csv")

# movies and lists ( interacciones )

uno todos los archivos de películas en listas

In [13]:
glob.glob("letterboxd_project/data/movies_lists_data/*.csv")

['letterboxd_project/data/movies_lists_data/movies_lists_6.csv',
 'letterboxd_project/data/movies_lists_data/movies_lists_4.csv',
 'letterboxd_project/data/movies_lists_data/movies_lists_1.csv',
 'letterboxd_project/data/movies_lists_data/movies_lists_2.csv',
 'letterboxd_project/data/movies_lists_data/movies_lists_3.csv',
 'letterboxd_project/data/movies_lists_data/movies_lists_recovered.csv',
 'letterboxd_project/data/movies_lists_data/movies_lists_2_b.csv',
 'letterboxd_project/data/movies_lists_data/movies_lists_8.csv',
 'letterboxd_project/data/movies_lists_data/movies_lists_4_b.csv',
 'letterboxd_project/data/movies_lists_data/movies_lists_3_b.csv']

In [14]:
csv_files = glob.glob("letterboxd_project/data/movies_lists_data/*.csv")
movies = pd.DataFrame()  
  
# loop over the list of csv files
for f in csv_files:
    print(f)
    # read the csv file
    temp_df = pd.read_csv(f)
    #print(temp_df.head())
    movies = pd.concat([movies, temp_df])

letterboxd_project/data/movies_lists_data/movies_lists_6.csv
letterboxd_project/data/movies_lists_data/movies_lists_4.csv
letterboxd_project/data/movies_lists_data/movies_lists_1.csv
letterboxd_project/data/movies_lists_data/movies_lists_2.csv
letterboxd_project/data/movies_lists_data/movies_lists_3.csv
letterboxd_project/data/movies_lists_data/movies_lists_recovered.csv
letterboxd_project/data/movies_lists_data/movies_lists_2_b.csv
letterboxd_project/data/movies_lists_data/movies_lists_8.csv
letterboxd_project/data/movies_lists_data/movies_lists_4_b.csv
letterboxd_project/data/movies_lists_data/movies_lists_3_b.csv

In [15]:
movies.shape

(25630749, 5)

In [16]:
movies = movies.drop_duplicates()

In [17]:
movies.shape

(19236207, 5)

In [18]:
movies.head()

,list_id,movie_link,movie_stars,movie_calification,movie_position
0,5679698,/film/do-the-right-thing/,★★★★★,5.0,1.0
1,5679698,/film/singin-in-the-rain/,★★★★★,5.0,2.0
2,5679698,/film/nashville/,★★★★★,5.0,3.0
3,5679698,/film/the-wizard-of-oz-1939/,★★★★★,5.0,4.0
4,5679698,/film/the-apartment/,★★★★★,5.0,5.0

guardo el archivo de interacciones

In [19]:
movies.to_csv("letterboxd_project/data/movies_lists_data/all_movies_lists_interactions.csv")

control: están todas las películas de las listas?

In [20]:
# tengo que ver si bajé todas las películas de las listas
# voy a contar las películas que tengo por lista y ver si coinciden con la extension de la lista
movies_counts = pd.DataFrame(movies["list_id"].value_counts()).reset_index()
movies_counts.columns = ['list_id', 'counts']
merged_count = all_the_lists.merge(movies_counts, how="left")

In [22]:
volver_a_descargar = merged_count[merged_count["extension"] != merged_count["counts"]]
volver_a_descargar

,Unnamed: 0,user_id,list_id,list_link,list_extension,extension,counts
84,84,jay,19977378,/jay/list/its-a-game-within-a-game/,151 films,151,152.0
285,285,filmgraphy,30961314,/filmgraphy/list/2023/,47 films,47,53.0
290,290,filmgraphy,7359638,/filmgraphy/list/nothing-but-love-for-my-final...,23 films,23,24.0
313,313,JAragon23,28850018,/jaragon23/list/2023-movies-ranked/,82 films,82,83.0
485,485,thejoshl,2018796,/thejoshl/list/sleazoids-podcast/,582 films,582,587.0
...,...,...,...,...,...,...,...
343698,23636,acorns13,23919769,/acorns13/list/top-20-films-of-2023/,246 films,246,505.0
343712,23650,acorns13,28456342,/acorns13/list/top-20-films-of-2024/,28 films,28,NaN
344239,24177,filmboyjake,30452247,/filmboyjake/list/2023-movies-seen/,54 films,54,56.0
344240,24178,filmboyjake,22953729,/filmboyjake/list/nolan-ranked-1/,11 films,11,19.0
344255,24193,filmboyjake,36394273,/filmboyjake/list/conjuring-universe-ranked/,6 films,6,9.0

uno las listas que no se descargaron + las listas incompletas

In [254]:
recover = pd.concat([volver_a_descargar.iloc[:,:-2], df_to_recover]).drop_duplicates()

In [255]:
recover.to_csv("letterboxd_project/data/volver_a_descargar.csv")

veo cuántas películas hay y guardo esa data para empezar a descargar

In [23]:
movies_to_download = movies["movie_link"].drop_duplicates()
movies_to_download.to_csv("letterboxd_project/data/all_the_movies.csv", index=False)

In [39]:
movies_to_download = pd.read_csv("letterboxd_project/data/movies_data/all_the_movies.csv")

In [40]:
movies_to_download=movies_to_download.reset_index()

In [41]:
#divido las peliculas en 4 archivos para descargar simultaneamente
df_chunks = np.array_split(movies_to_download, 4)

In [42]:
for i in range(0, len(df_chunks)):
      df_chunks[i].to_csv(f"letterboxd_project/data/movies_to_download_{i}.csv", index=False)